[Unit]
Description=Intel CS recording-agent
After=syslog.target network.target
[Service]
Type=forking
PIDFile=/opt/intelcs/production/logs/recording-agent.pid
User=root
Group=root
WorkingDirectory=/opt/intelcs/production
ExecStart=/opt/intelcs/production/bin/daemon.sh start recording-agent
ExecStop=/opt/intelcs/production/bin/daemon.sh stop recording-agent
Restart=always
LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitMEMLOCK=infinity
LimitNOFILE=64000
LimitNPROC=64000
[Install]
WantedBy=multi-user.target